<div class="container-fluid d-flex justify-content-center vh-100 background-div z-2">
    <div class="position-absolute col-12 col-lg-4 col-md-8 bg-white rounded-4 my-auto z-3 px-5">
        <!--Logo container-->
        <span class="logo-container"><img src="./../../../../assets/Images/DigiBiteLogo.png" alt=""></span>
        <!-- title -->
        <h1 class="m-5 text-center fw-bold">{{'CreateNewAccount'| translate}}</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="d-flex justify-content-center gap-3">
                <!-- First Name -->
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'FirstName' | translate}}</mat-label>
                    <input matInput formControlName="firstName" maxlength="20">
                    <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')">{{'error.NameRequired' |
                        translate}}</mat-error>
                    <mat-error *ngIf="signupForm.get('firstName')?.hasError('pattern')">{{'error.NamePattern' |
                        translate}}</mat-error>
                </mat-form-field>
                <!-- Last Name -->
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'LastName' | translate}}</mat-label>
                    <input matInput formControlName="lastName" maxlength="20">
                    <mat-error *ngIf="signupForm.get('lastName')?.hasError('pattern')">{{'error.NamePattern' |
                        translate}}</mat-error>
                </mat-form-field>
            </div>
            <!-- Email -->
            <mat-form-field appearance="outline" class="w-100 d-block">
                <mat-label>{{'Email' | translate}}</mat-label>
                <input matInput formControlName="email">

                <mat-error *ngIf="signupForm.get('email')?.hasError('required')"> {{'error.EmailRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="signupForm.get('email')?.hasError('email')"> {{'error.EmailPattern' | translate}}
                </mat-error>

            </mat-form-field>
            <!-- Phone Number -->

            <mat-form-field appearance="outline" class="w-100 d-block">
                <mat-label>{{'PhoneNumber' | translate}}</mat-label>
                <input matInput formControlName="phoneNumber" #input maxlength="10" placeholder="Ex. 07xxxxxxxx">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('required')">{{'error.PhoneRequired' |
                    translate}}</mat-error>
                <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('pattern')">{{'error.PhonePattern' |
                    translate}}</mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" class="w-100 d-block">
                <mat-label>{{'Password' | translate}}</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.get('password')?.hasError('required')">{{'error.PasswordRequired' |
                    translate}}</mat-error>
                <mat-error *ngIf="signupForm.get('password')?.hasError('pattern')">{{'error.PasswordPattern' |
                    translate}}</mat-error>
            </mat-form-field>
            <!-- Button  -->
            <div class="d-flex justify-content-center gap-3">
                <button [disabled]="signupForm.invalid" type="submit" mat-stroked-button extended color="primary"
                    class="w-100">
                    <mat-icon>check</mat-icon>
                    {{'Btn_CreateAccount' |translate}} </button>
                <button type="button" routerLink="/auth" mat-stroked-button class="w-50">
                    <mat-icon>home</mat-icon>
                    {{'Home'| translate}}
                </button>
            </div>
        </form>
        <!-- form footer  -->
        <div class="m-5 text-center">
            {{'HaveAccount' | translate}} <span><a routerLink="/auth">{{'Login'|translate}}</a></span>
        </div>
    </div>
</div>