<div *ngIf="address else noAddress" class="m-5 flex gap-6 justify-content-center align-items-center">
    <h1 class="text-2xl font-semibold text-secondary">Your Address</h1>
    <div class="card w-6">
        <div class="grid align-items-center">
            <div class="col-6">
                <app-display-map [lat]="address.latitude" [lng]="address.longitude"></app-display-map>
            </div>
            <div class="col-4">
                <div class="text-lg font-semibold text-secondary my-2">
                    <p>{{address.buildingName}}</p>
                    <p-chip [label]="address.addressLabel || ''" icon="pi pi-map-marker"></p-chip>
                </div>
                <p class="text-xs font-base text-secondary">
                    {{address.street}}
                </p>
                <div class="text-xs font-base text-secondary">
                    <p>
                        {{'Floor' + ': '+ address.floor}}
                    </p>
                    <p>
                        {{'Apartment Number' +': '+ address.apartmentNumber}}
                    </p>
                </div>
            </div>
            <div class="col-2 flex justify-content-start">
                <p-button (onClick)="openDialog()" label="Change" icon="pi pi-plus-circle"
                    styleClass="p-button-sm p-button-text"></p-button>
            </div>
        </div>
    </div>
</div>

<ng-template #noAddress>
    <div class="flex justify-content-center align-items-center">
        <div class="card p-5 w-5 justify-content-center align-items-center gap-4">
            <div class="text-warning text-lg font-medium">
                <p>You don't have any saved addresses.</p>
                <p>Please add one to proceed with checkout.</p>
            </div>
            <p-button label="Add Your Address" icon="pi pi-plus"
                styleClass="p-button-outlined p-button-success"></p-button>
        </div>
    </div>
</ng-template>