<mat-toolbar color="primary" class="header-toolbar mb-3">
    <!-- Logo on the Left -->
    <div class="toolbar-logo">
        <a routerLink="/">
            <img src="../../../../assets/Images/DigiBiteLogo.png" alt="DigiBiteLogo" width="150px" height="auto"></a>
    </div>

    <!-- Menu in the Center -->
    <div class="toolbar-menu">
        <mat-list role="list" class="menu-list">
            <a class="text-decoration-none text-white" routerLink="/">About Us</a>
            <a class="text-decoration-none text-white" routerLink="/">Blog</a>
            <a class="text-decoration-none text-white" routerLink="/">Shop</a>
        </mat-list>
    </div>

    <!-- Actions on the Right -->
    <div class="toolbar-actions">
        <button (click)="changLang()" mat-icon-button>
            <small>{{lang}}</small>
            <mat-icon>language</mat-icon>
        </button>
        <button mat-icon-button (click)="openCart()">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>

    </div>
</mat-toolbar>

<!--Cart Sidebar-->
<app-cart-sidebar *ngIf="SidebarVisible"></app-cart-sidebar>