<p-toolbar styleClass="bg-primary mb-3">
    <!-- Logo -->
    <a routerLink="/">
        <img src="../../../../assets/Images/DigiBiteLogo.png" alt="DigiBiteLogo" width="150px" height="auto"></a>
    <!-- Actions-->
    <div class="p-toolbar-group-end">
        <p-button (click)="changLang()" [label]="lang" icon="pi pi-globe"
            styleClass="p-button-outlined mr-2 text-white"></p-button>

        <p-button *ngIf="isLogged" (click)="openCart()" label="Cart" icon="pi pi-shopping-cart"
            styleClass="p-button-text mr-2 text-white"></p-button>

        <p-button *ngIf="!isLogged" routerLink="/auth" label="Login/Register" icon="pi pi-sign-in"
            styleClass="p-button-outlined mr-2 text-white"></p-button>

        <p-button *ngIf="isLogged" (click)="menu.toggle($event)" [label]="customerName?'Hi '+(customerName):''"
            icon="pi pi-user" styleClass="p-button-text mr-5 text-white"></p-button>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>

    </div>
</p-toolbar>

<!--Cart Sidebar-->
<app-cart-sidebar *ngIf="SidebarVisible"></app-cart-sidebar>