<h2 mat-dialog-title>{{'Forget Password?' | translate}}</h2>
<mat-dialog-content class="mat-typography">
    <!-- Email -->
    <p class="mb-4">{{'instructions to reset password' | translate}}</p>
    <mat-form-field appearance="outline" class="w-100 d-block">
        <mat-label>{{'Email' | translate}}</mat-label>
        <input matInput [formControl]="email">
        <mat-error *ngIf="email.hasError('required')"> {{'error.EmailRequired' |translate}}
        </mat-error>
        <mat-error *ngIf="email.hasError('email')"> {{'error.EmailPattern' | translate}}
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center" class="mb-5">

    <button (click)="onSubmit()" [disabled]="email.invalid" type="submit" mat-stroked-button extended color="primary">
        <mat-icon>forward_to_inbox</mat-icon>
        {{'Send Reset Instructions' |translate}}
    </button>
    <button type="button" mat-stroked-button extended color="warn" mat-dialog-close>{{'Cancel' | translate}}</button>

</mat-dialog-actions>