<app-account>
    <div *ngFor="let order of orders" class="w-10">

        <p-fieldset>
            <!--Header-->
            <ng-template pTemplate="header">
                <div class="flex align-items-center text-primary">
                    <span class="pi pi-calendar mr-2"></span>
                    <span class="font-bold text-lg">{{order.date | date}}</span>
                </div>
            </ng-template>

            <!--Body-->
            <div *ngFor="let o of order.orders; let i=index">
                <div class="grid mb-3 font-bold">
                    <div class="col-1">#{{o.id}}</div>
                    <p-tag class="col-2 text-xs" [value]="o.status"></p-tag>
                    <div class="col-4 text-color-secondary">
                        <h3 *ngFor="let item of o.itemNames.split(',')">
                            {{item}}
                        </h3>
                    </div>
                    <div class="col-3 text-left text-primary">{{o.totalAmount | jdCurrency}}</div>
                    <!--Order Dialog Btn-->
                    <div class="col-2">
                        <p-button label="Details" (click)="showDialog(o.id)"
                            styleClass="p-button-outlined p-button-success p-button-sm"></p-button>
                    </div>
                </div>
                <p-divider *ngIf="order.orders!.length > i+1"></p-divider>
            </div>
        </p-fieldset>

    </div>
</app-account>