<div class="container-fluid d-flex justify-content-center vh-100 background-div z-2">
    <div class="position-relative col-12 col-lg-4 col-md-8 bg-white rounded-4 my-auto z-3 px-5">
        <!--Logo container-->
        <span class="logo-container"><img src="./../../../../assets/Images/DigiBiteLogo.png" alt=""></span>
        <!-- title -->
        <h1 class="m-5 text-center fw-bold">{{'Reset your password'| translate}}</h1>
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
            <!-- Password -->
            <mat-form-field appearance="outline" class="w-100 d-block">
                <mat-label>{{'Password' | translate}}</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPassForm.get('password')?.hasError('required')">{{'error.PasswordRequired' |
                    translate}}</mat-error>
                <mat-error *ngIf="resetPassForm.get('password')?.hasError('pattern')">{{'error.PasswordPattern' |
                    translate}}</mat-error>
            </mat-form-field>
            <!--Confirm Password -->
            <mat-form-field appearance="outline" class="w-100 d-block">
                <mat-label>{{'Confirm Password' | translate}}</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <mat-error *ngIf="resetPassForm.get('confirmPassword')
                ?.hasError('passwordMismatch')">
                    {{'error.Passwords do not match.'| translate}}
                </mat-error>


            </mat-form-field>

            <!-- Button -->
            <div class="d-flex justify-content-center gap-3">
                <button type="submit" [disabled]="resetPassForm.invalid" mat-stroked-button extended color="primary"
                    class="w-100">
                    <mat-icon>lock_open</mat-icon>
                    {{'Reset your password' |translate}} </button>

                <button routerLink="/" mat-stroked-button class="w-50">
                    <mat-icon>home</mat-icon>
                    {{'Home'| translate}}
                </button>
            </div>

        </form>
        <!-- form footer  -->
        <div class="m-5 text-center">
            {{'Return to' | translate}} <span><a routerLink="/auth/">
                    {{'Login'|translate}}</a></span>
        </div>
    </div>
</div>