<div class="container-fluid d-flex justify-content-center vh-100 background-div z-2">
    <div class="position-relative col-12 col-lg-4 col-md-8 bg-white rounded-4 my-auto z-3 px-5">
        <!--Logo container-->
        <span class="logo-container"><img src="./../../../../assets/Images/DigiBiteLogo.png" alt=""></span>
        <!-- title -->
        <h1 class="m-5 text-center fw-bold">{{'Confirmation Account'| translate}}</h1>
        <!--body-->
        <p class="text-center fs-3 lh-lg">{{'confirm-page' | translate}}</p>
        <!-- form footer  -->
        <p class="text-center">
            {{"You will be redirected within" | translate}} :
            <br>
            <span class="circle text-white d-inline-flex align-items-center justify-content-center">
                {{countdown}} s</span>
        </p>
    </div>
</div>