/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.dialog-close {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    font-size: 30px;
}

.dialog-close:hover {
    color: red;
}


.p-galleria img {
    border-radius: 15px;
    border: solid 1px gray;
}


.p-galleria-thumbnail-container {
    background-color: white !important;
    /* margin: 0 30px; */
}

.p-galleria-thumbnail-container img {
    border-radius: 5px;
}

.p-inputnumber-input {
    flex: 1 1 auto;
    width: 50px;
    margin-left: -130px;
}